///Citizens Advice blue
$ca-blue:         #004b88;

///Citizens Advice light blue
$ca-light-blue:   #b2c9db;

///Citizens Advice green
$ca-green:        #006278;

///Citizens Advice sand
$ca-sand:         #fcbb69;

///Citizens Advice lilac
$ca-lilac:        #b5afd7;

///Set open sans as the core sans serif font
$font-family-sans-serif: "open sans regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

